{% extends "base.html" %}
{% block style %}
{% endblock %}
{% block contents %}
                        <h1 class="mt-4">Users</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{{ url_for('home')}}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Admin</li>
                            <li class="breadcrumb-item active">Users</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>User ID</th>
                                            <th>Password</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Active</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>User ID</th>
                                            <th>Password</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Active</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {%- for u in users %}
                                        <tr>
                                            <td>{{ u.id }}</td>
                                            <td>{{ u.user_id }}</td>
                                            <td>********</td>
                                            <td>{{ u.name }}</td>
                                            <td>{{ u.email }}</td>
                                            <td>{{ u.is_active }}</td>
                                        </tr>
                                    {% endfor -%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
{% endblock %}